<!DOCTYPE html>
<html>
<head>
  <title>FriendChan</title>
</head>
<body>
  <div class="nav">
    <h1>FriendChan</h1>
    <a href="/topics/new">[Create New Topic]</a>
  </div>

  <div class="topics">
    <% @topics.each do |topic| %>
      <div class="topic">
        <h2><a href="/topics/<%= topic.id %>"><%= topic.title %></a></h2>
        <div class="topic-content">
          <div class="topic-text">
            <p><%= topic.content %></p>
            <small>Posted <%= topic.created_at.strftime("%Y-%m-%d %H:%M") %></small>
          </div>
          <% if topic.image_path %>
            <div class="topic-image">
              <a href="<%= topic.image_path %>" class="image-link" target="_blank">
                <img src="<%= topic.image_path %>" alt="Topic image">
              </a>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</body>
</html> 